# Python
__pycache__/
*.pyc
*.pyo
venv/

# Dagster data
.nux
.logs_queue
storage/

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Virtual environments and environment files
.env
.venv
env/
venv/

# Metadata
*.egg-info/
metadata/

# Database files
*.sqlite3
*.db
*.duckdb

