dagster==1.11.10
dagster-postgres==0.27.10
dagster-docker==0.27.10
dagster-webserver==1.11.10
dagster-duckdb==0.27.10     
pandas==2.3.2
numpy==2.3.3
pyarrow==21.0.0
sqlalchemy==2.0.43
psycopg2-binary==2.9.10
pymongo==4.15.1
duckdb==1.4.0
python-dotenv==1.1.1
loguru==0.7.3
pendulum==3.1.0
